<div class="wrapper">
    <div class="icon-close">
        <button class="btn" (click)="cerrar_modal()">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="body-modal">
        <h1 class="title-modal">Editar {{tipo}}</h1>
        <span class="descripcion">Estás a punto de editar este {{tipo}} y se generarán los cambios</span>
        <div class="buttons-modal">
            <button mat-button class="btn-regresar" (click)="cerrar_modal()">
                CANCELAR
            </button>
            <button mat-button class="btn-eliminar" (click)="confirmarEdicion()">
                EDITAR
            </button>
        </div>
    </div>
</div>